.example-card {
    max-width: 400px;
    margin: 40px;
    background-color: #c2185b;
    display: inline-block;
}

.example-header-image {
    background-image: url('https://scontent.fcdg2-1.fna.fbcdn.net/v/t39.30808-6/395322075_887029789455507_5464756512007097422_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9c7eae&_nc_ohc=p6NNvW7A7H0AX-1_QfJ&_nc_ht=scontent.fcdg2-1.fna&oh=00_AfBmFMLldQLyd3HgtM9xalePRpndhGv4GH1nVC9gujK28g&oe=65D98BBE');
    background-size: cover;
}

img.mat-mdc-card-image.mdc-card__media {
    max-width: 400px;
}
h1 {
    text-align: center;
    color: #c2185b;
    font-size: 3em;
}